body{
	margin: 30px;
	height: 100%;
}

.header{
	display: flex;
	align-items: center;
	justify-content: center;
}

.header img{
	display: block;
	height: 75px;
	margin: 0 30px 10px;
}

.title{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
}
.info{
	text-align: center;
	margin-bottom: 20px;
}

.laboratory{
	display: flex;
	height: 50px;
	justify-content: center;
	margin-bottom: 30px;
}
.laboratory a{
	display: flex;
	height: auto;
	width: 120px;
	border: 2px solid #000;
	text-align: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 20px;
	text-decoration: none;
	color: #000;
}
.laboratory a:first-child{
	margin-left: 0;
}

.work{
	height: 463px;
	display: flex;
}
.work__structure__1{	
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.work__structure__1 div{
	display: flex;
	height: 50px;
	width: 70%;
	text-align: center;
	align-items: center;
	justify-content: center;
	border: 2px solid #000;
	border-radius: 30px;
	text-decoration: none;
	color: #000;
	margin-top: 20px;
	font-weight: bold;
	padding: 0 15px;
	cursor: pointer;
}
.work__structure__1 div:first-child{
	margin-top: 0;
}
.work__structure__1 .subparagraph{
	width: 50%;
	height: 40px;
}
.work__structure__1 p, img, a{
	display: none;
}
.work__info{
	display: flex;
	flex-wrap: wrap;
	width: 75%;
	/*border: 2px solid #000;*/
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: bold;
}
.work__info p{
	text-align: center;
	margin: 0;
	padding: 20px;
	width: 100%;
}
.work__info img{
	/*width: 100%;*/
	display: none;
	max-width: 100%;
}
.work__info a{
	display: block;
	color: #000;
}
.labs > div{
	display: none;
}
a[src*='Картинки']{
	height: 50px;
	max-height: 50%;
}
